logs
project/project
project/target
target
tmp
.history

/*idea files*/
*.idea
*.iml
*.ipr

/*node_modules_coffee*/
node_modules/

/*oups*/
ical4j-1.0.3-sources.jar

/*js test file generated*/
test/front/javascripts/

/* mongodb datadir */
data/

/* bower dependencies */
public/bower_components/

/* mongodb datadir */
data/

/* bower dependencies */
public/bower_components/
