a {
    text-decoration: none;
}

#title {
    width: 100%;
    margin: auto;
    margin-bottom: 70px;
}

#technoBadge {
    width: 40%;
}

#technoBadge a {
    margin-left: 20px;
}

#why {
    float: right;
    width: 58%;
}

#footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    text-align: right;
}

#footer a {
    text-decoration: none;
    color: black;
    padding-right: 3%;
    padding-bottom: 10px;
    font-size: 0.7em;
    display: inline-block;
}

.clear {
    clear: both;
}

.center {
    margin: auto;
    width: 80%
}