/*
 * This file is part of OneCalendar.
 *
 * OneCalendar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OneCalendar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OneCalendar.  If not, see <http://www.gnu.org/licenses/>.
 */
/*header, footer, aside, nav, article {
	display: block;
}*/

body {
    font-family: arial,sans-serif;
}

.clear {
    clear: both;
}

header {
    border-bottom: solid 1px #91959C;
}

header h1 {
    color: #91959C;
    font-size: 27px;
    font-weight: 300;

    height: 51px;
    line-height: 1.26;

    margin: 20px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#contact {
    border: solid 1px black;

    padding: 1%;
    padding-top: 5px;
    margin-top: 2%;

    width: 13%;

    text-align: center;
    color: #1155CC;
    font-size: 1.1em;
}

#contact h5 {
    margin-top: 0;
}

.gstyle {
    margin-top: 2%;
    padding: 0;
    font-size: 0.8em;
    width: 47%;
    border: solid 1px #336699;
}

.gstyle h1 {
    background: none repeat scroll 0 0 #336699;
    height: 35px;
    text-align: center;
    margin: 0;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: normal;
    padding-top: 5px;
}

.techno {
    padding-top: 2%;
    float: right;
    width: 36%;
    text-align: center;
}

.techno a ~ a {
    display: block;
    margin-top: 15px;
}

.fun-text {
    padding-left: 2%;
    width: 62%;
    text-align: justify;
}

#why {
    float: right;
    margin-right: 36%;
}

#why p {
    padding: 0 2% 1% 2%;
    text-align: justify;
}

#fun {
    margin-left: 17%;
}

#fun p {
    padding: 0 0 2% 0;
}

/*#content {
	margin-right: 2%;
	width: 70%;
	text-align: left;
	display: inline-block;
}

.content1 {
	padding: 1%;
	width: 70%;
	font-size: 15px;
	float: left;
}

.content2 {
	width: 20%;
	float: right;
    padding-top: 10px;
}

footer {
}

.about-section {
}

.about-section h1 {
	font-size:2em;
	margin-top:0;
}

.share-button {
	display:block;
	border-top:solid 1px #999
}

.logo-container {
	text-align: left;
    float: right;
}

.logo-design  {
	display:inline-block;
	text-align:left;
	font-family:'Times New Roman', Times, "Lucida Grande", Verdana, sans-serif, Arial;
	color:#888;
	width:283px;

	*//*padding:1em;
	border:solid 1px #888;
    border-radius: 6px ;*//*

}

img {
    vertical-align: middle;
    margin: 10px;
}

.logo-design  h1{
	font-size:2.5em;
	margin-bottom:0;
	margin-top:0;
}

.logo-design  div{
	text-align:right;
	font-weight:bolder;
}*/