/*
 * This file is part of OneCalendar.
 *
 * OneCalendar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OneCalendar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OneCalendar.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    font-family: arial, sans-serif;
}

.clear {
    clear: both;
}

header {
    /*border-bottom: solid 1px #91959C;*/
    /*height: 80px;*/
}

header h1 {
    color: #91959C;
    font-size: 27px;
    font-weight: 300;

    height: 80px;
    line-height: 1.26;

    margin: 0;
    padding-top: 1.4%;
    overflow: hidden;
    float: right;
}

header img {
    margin-left: 10px;
}

.leftSection {
    float: left;
    margin-top: 1%;
}

.leftSubSection {
    border: solid 1px #336699;
    width: 190px;
    padding: 0;
    text-align: center;
}

.leftSubSection h5 {
    margin: 0;
    padding: 2% 0 2% 0;
    color: black;
    font-size: 1.1em;
    border-bottom: solid 1px #336699;
}

.leftSubSection p {
    padding: 0 5% 0 5%;
}

#valtech {
    margin-top: 10%;
}

#valtech img {
    width: 180px;
}

#valtech p {
    text-align: justify;
    font-size: 0.8em;
}

#mainSection {
    margin-top: 1%;
    width: 900px;
}

#why p {
    padding: 0 2% 1% 2%;
    text-align: justify;
}

#fun {
    margin-top: 2%;
    margin-bottom: 2%;
}

#fun p {
    padding: 0 0 2% 0;
}

.gstyle {
    padding: 0;
    font-size: 0.8em;
    width: 680px;
    border: solid 1px #336699;
    margin-left: 20px;
    float: left;
}

.gstyle h1 {
    background: none repeat scroll 0 0 #336699;
    text-align: center;
    margin: 0;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: normal;
    padding-top: 5px;
}

.gstyle h1 span {
    padding-left: 10%;
}

.techno {
    padding-top: 2%;
    float: right;
    width: 36%;
    text-align: center;
}

.techno a ~ a {
    display: block;
    margin-top: 15px;
}

.fun-text {
    padding-left: 2%;
    width: 62%;
    text-align: justify;
}

#footer {
    text-align: right;
    color: #777777;
    padding-right: 1%;
    padding-bottom: 10px;
    font-size: 0.7em;
}

@media (max-width: 640px) {
    header img {
        margin-bottom: 7px;
        vertical-align: middle;
        width: 140px;
    }

    .leftSubSection {
        width: 100%;
    }

    .leftSubSection p {
        display: inline;
        margin: 10px;
        padding: 0;
    }

    #valtech {
        margin-top: 1%;
        text-align: justify;
    }

    #valtech img {
        display: block;
        margin: auto;
        width: 120px;
    }

    #mainSection {
        float: left;
        width: 100%;
    }

    .gstyle {
        width: 100%;
        margin-left: 0;
    }

    .gstyle h1 {
        padding: 10px;
    }

    .gstyle h1 span {
        padding-left: 0;
    }

    .techno {
        border: thin solid;
        margin: auto;
        width: 98%;
        float: none;
    }

    .techno img {
        width: 100px;
    }

    .techno a {
        text-decoration: none;
    }

    .techno a ~ a {
        display: inline;
        margin-top: 0;
    }

    .gstyle h1 span {
        padding-left: 10%;
    }

    .fun-text {
        padding: 2%;
        width: auto;
        text-align: justify;
    }

    #footer {
        text-align: right;
        color: #777777;
        padding-right: 1%;
        padding-bottom: 10px;
        font-size: 0.7em;
    }
}