fieldset {
    width: 55%;
    padding-top: 20px;
}

input[type=date], input[type=time] {
    width: 23%;
}

input[type=time] {
      margin-left: 1%;
}

input[type=text] {
    width: 48%;
}

input[type=submit] {
    margin-left: 80%;
}

textarea {
    width: 48%;
    height: 80px;
}