header {
    background-color: black;
    width: 100%;
    color: white;
    padding: 5px;
    font-family: arial,serif;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #eeeeee;
    text-decoration: none;
}