header {
    background-color: black;
    width: 100%;
    color: white;
    padding:.2em 1em;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none; padding:0 .5em;
    letter-spacing: .2px;
}

header a:hover {
    color: #eeeeee;
    text-decoration: underline;
}