/*
 * This file is part of OneCalendar.
 *
 * OneCalendar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OneCalendar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OneCalendar.  If not, see <http://www.gnu.org/licenses/>.
 */

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: 480px;
    height: 41px;

    font-size: 1.1em;

    margin: auto;
    margin-right: 10px;

    border-color: #07A7DA #F2F1F0  #F2F1F0 #07A7DA;
    border-style: solid;

    border-top-width: 2px;
    border-left-width: 2px;

    border-radius: 2px;

    padding-left: 10px;
}