/*
 * This file is part of OneCalendar.
 *
 * OneCalendar is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OneCalendar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OneCalendar.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/VeuwHt-_EDaMbc2iV8rWdvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}

section {
    width: 580px;
    margin: auto;
    font-family: 'Ubuntu';
    font-size: 15px;
}

h2 {
    margin: 0;
    font-size: 2.5em;
}

h4 {
    margin-top: 0;
    margin-left: 28%;
}

#title {
    color: #808080;
    margin-top: 30px;
}

#beta {
    font-size: 4.1em;
    color: #498AF3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 38%;
    top: 24%;
    opacity: 0.5;
    position: fixed;
    z-index: -1
}

/************************
*       SEARCH
*************************/

#search {
    margin-top: 50px;
}

#events input[type=submit] {
    text-decoration: none;
    float: right;

    border: 0;

    width: 48px;
    height: 46px;

    background-color: #498AF3;
    background-image: url(/assets/images/search-transparent.png);

    border-radius: 2px;
}

#suggest {
    width: 480px;
    height: 41px;

    font-size: 1.1em;

    margin: auto;
    margin-right: 10px;

    border-color: #F2F1F0;
    border-style: solid;

    border-top-width: 2px;
    border-left-width: 2px;
    border-top-color: #808080;
    border-left-color: #808080;

    border-radius: 2px;

    padding-left: 10px;
    opacity: 0.6;
}

#suggest:focus {
    background-color: #FFF79A;
}

.center {
    margin: auto;
    width: 80%
}

#suggest ~ ul {
    list-style: none;

    width: 491px;

    border: 1px solid #808080;
    border-top: none;
    border-radius: 2px;

    padding: 0;
    margin: 0;
}

#suggest ~ ul > li {
    padding-left: 10px;
}

#suggest ~ ul > li:hover {
    background-color: #808080;
}

.clear {
    clear: both;
}

/*********************
*     SUBSCRIPTION
**********************/

#subscription {
    margin-top: 25px;
    display: none;
}

#subscription fieldset {
    width: 470px;
}

#subscription fieldset > legend {
    font-size: 1.5em;
}

#subscription a {
    float: left;
    margin-right: 5%;
    margin-left: 6%;
}

#resultSize {
    font-size: 0.9em;
}

.preview {
    font-size: 0.9em;
    margin-top: 20px;
}

.preview > .title {
    font-weight: bold;
}

.preview > .date {
   float: right;
}

.preview > .location {
   color: #444;
   display: block;
}

#callbackNoResult {
    margin-top: 10px;
    color: red;
}

/********************************
*         DEVOXX
*********************************/

section#devoxx {
    width: 470px;
    margin: auto;
    margin-right: 1px;
    /*margin: 0 1% 0 0;*/
}

section#devoxx fieldset {
    width: 88%;
}

section#devoxx fieldset > legend {
    background-image: url(http://www.devoxx.com/download/attachments/5342010/Logo-Devoxx-France-seul.png?version=1&modificationDate=1320431916000);
    border: 0;
    width: 222px;
    height: 92px;
    margin-bottom: 5%;
}

section#devoxx a {
    float: left;
    margin-right: 5%;
    margin-left: 6%;
}

#cloudtags {
    font-family: 'ubuntu';
    margin: 10px auto;
    width: 580px;
    position: relative;
}

#cloudtags .legend {
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-style: italic;
}

#cloudtags .clickTag {
    cursor: pointer;
}

.elipse {
    width: 30px;
    height: 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
/**************************************
*             FOOTER
***************************************/

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: right;
}

#footer a {
    text-decoration: none;
    color: #777777;
    padding-right: 3%;
    padding-bottom: 10px;
    font-size: 0.7em;
    display: inline-block;
}