@()
<!DOCTYPE html>

<html lang="fr">
<head>
    <title>One Calendar! spécial Devoxx!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/about.css")'>
</head>
<body>

<section id="title">
    <h1>A propos de One Calendar! To Meet Them All</h1>
</section>
<section id="why">
    <fieldset>
        <legend>Pourquoi One Calendar! To Meet Them All ?</legend>
        <p>
            Vous avez déjà peut-être cherché un moyen de trouver un ensemble d'événements sur un sujet donné ?
            Vous avez dû vous rendre compte qu'il existait beaucoup de sources d'informations diverses pas
            forcément structurées, et surtout rarement consultables directement depuis votre agenda.
            Nous pensons par exemple à <a href="http://www.agendadulibre.org/">l'Agenda du Libre</a>,
            des <a href="http://www.agenda-agile.org/">Agilistes</a>, les meetups, l'agenda
            <a href="https://sites.google.com/site/duchessfr/calendrier-conferences">JDuchess</a> ...
            et pour d'autres communautés il en existe sûrement plein d'autres.
        </p>
        <p>
            Nous trouvons cela assez complexe et chronophage de nous tenir à jour de tous ses événements,
            et d'être toujours prévenus trop tard pour nous inscrire. Pour les initiatives qui tentent d'agréger
            toutes les informations, c'est également très lourd à maintenir.
        </p>
        <p>
            L'idée est donc de simplifier tout ça en proposant un agrégateur d'agendas, qui va les "taguer", les stocker
            dans une structure afin de pouvoir les consulter, les filtrer et en faire des extractions.
            Pour commencer, sous la forme de flux <a href="http://fr.wikipedia.org/wiki/ICalendar">iCalendar</a>,
            standard de facto selon nous, pour les agendas.
        </p>
    </fieldset>
</section>
<div class=".clear"></div>

<section id="technoBadge">
    <fieldset>
        <legend>un projet "fun"</legend>
        <div class="center">
            <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fonecalendar.valtech.fr%2F">
                <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png"
                     alt="HTML5 Powered with CSS3 / Styling, and Semantics"
                     title="HTML5 Powered with CSS3 / Styling, and Semantics"
                     width="165" height="64" />
            </a>
            <a href="http://www.scala-lang.org/">
                <img src="/assets/images/scala-logo.png"
                     alt="scala language" title="scala language" width="198" height="59" />
            </a>
            <a href="http://www.playframework.org/">
                <img src="/assets/images/play_logo.png"
                     alt="playframework 2" title="playframework 2" width="177" height="64" />
            </a>
            <a href="http://www.mongodb.org/">
                <img src="/assets/images/mongodb_logo.PNG"
                     alt="mongodb NoSQL database" title="mongodb NoSQL database"
                     width="200" height="67" />
            </a>
            <a href="http://coffeescript.org/">
                <img src="/assets/images/coffeescript_logo.png"
                     alt="coffescript for javascript" title="coffescript for javascript"
                     width="225" height="50" />
            </a>
        </div>
        <p>
            Un projet "fun". Tout un objectif en soi. <br/>
            Nous voulions démontrer, à travers l'application <span class="onecalendar">One Calendar!</span>, qu'avec des
            technos "fun" les équipes restent très productives et même plus productives qu'avec des technos 
            "traditionnelles".<br/>
            Nous pensons que les développeurs sont des professionnels avertis et que ce qu'ils trouvent
            "fun" rentre en raisonnance avec ce qui est efficace pour leur métier.
        </p>
        <p>
            L'application <span class="onecalendar">One Calendar!</span> a été réalisée en mode "agile",
            plus particulièrement avec des méthodes comme eXtrême programming et Scrum, avec une équipe, de 4 personnes,
            auto-organisée, prenant ses décisions au consentement mutuel.
        </p>
        <p>
            Sur ces 4 personnes; une seule avait déjà utilisé Scala en mission, les autres ne connaissaientt pas
            ce langage avant de commencer le projet; personne n'avait jamais utilisé Playframework dans
            sa version 2, tout bonnement parce qu'il n'était pas encore sorti (les premiers essais ayant commencé
            avec la version bêta); seule une personne avait une légère expérience sur mongodb; et une autre
            venait de s'initier pendant 2 jours à coffescript.<br/>
            Malgré cela, l'équipe a été capable de livrer une première version (pour devoxx) du logiciel,
            fonctionnelle, en 5 jours de travail seulement, le tout en pair programming et tdd, même pour la partie
            front.
        </p>
        <p>Un projet "fun" avec une équipe "agile" un objectif pour s'éclater au boulot et être hyper efficace !</p>
    </fieldset>
</section>

<section id="footer">
    <a href="/about">design with scala | playframework | mongodb | coffescript | html5/css3</a>
</section>

</body>
</html>