@()
<!DOCTYPE html>

<html lang="fr">
<head>
    <title>One Calendar! spécial Devoxx!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/about.css")'>
</head>
<body>

<section id="title">
    <h1>A propos de One Calendar To Meet Them All</h1>
</section>
<section id="why">
    <fieldset>
        <legend>Pourquoi One Calendar To Meet Them All!</legend>
        blab bnlablabblablablabla blab bnlablabblablablabla blab bnlablabblablablabla
        blab bnlablabblablablabla blab bnlablabblablablabla blab bnlablabblablablabla
        blab bnlablabblablablabla blab bnlablabblablablabla blab bnlablabblablablabla
        blab bnlablabblablablabla blab bnlablabblablablabla blab bnlablabblablablabla
    </fieldset>
</section>
<div class=".clear"></div>

<section id="technoBadge">
    <fieldset>
        <legend>technologies utilisées pour créer l'application OneCalendar</legend>
        <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fonecalendar.valtech.fr%2F">
            <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png"
                 alt="HTML5 Powered with CSS3 / Styling, and Semantics"
                 title="HTML5 Powered with CSS3 / Styling, and Semantics"
                 width="165" height="64" />
        </a>
        <a href="http://www.scala-lang.org/">
            <img src="/assets/images/scala-logo.png"
                 alt="scala language" title="scala language" width="198" height="59" />
        </a>
        <a href="http://www.playframework.org/">
            <img src="/assets/images/play.jpeg"
                 alt="playframework" title="playframework" width="50" height="50" />
        </a>
        <a href="http://www.mongodb.org/">
            <img src="/assets/images/mongodb_logo.PNG"
                 alt="mongodb NoSQL database" title="mongodb NoSQL database"
                 width="200" height="67" />
        </a>
        <a href="http://coffeescript.org/">
            <img src="/assets/images/coffeescript-logo.png"
                 alt="coffescript for javascript" title="coffescript for javascript"
                 width="48" height="48" />
        </a>
    </fieldset>
</section>

<section id="footer">

    <a href="#">design with scala | playframework | mongodb | coffescript | html5/css3</a>
</section>

</body>
</html>