@()

@layout("Ajouter un événement") {
        <div class="row">
            <div class="large-12 columns">
                <h2>Ajouter un événement</h2>
            </div>
        </div>
        <form method="POST" action="/event">
            <div class="row">
                <div class="large-12 columns">
                    <label>Titre</label>
                    <input type="text" name="title" placeholder="Titre de l'événement" required="required" />
                    <label>Tags</label>
                    <input type="text" name="tags" placeholder="Mots-clés décrivant l'évènement, séparés des virgules" required="required" />
                </div>
                <div class="large-6 columns">
                    <label>Date de début</label>
                    <input type="date" name="begindate" placeholder="jj/mm/aaaa" required="required" />
                </div>
                <div class="large-6 columns">
                    <label>Heure de début</label>
                    <input type="time" name="beginhour" placeholder="hh:mm" required="required" />
                </div>
                <div class="large-6 columns">
                    <label>Date de début</label>
                    <input type="date" name="enddate" placeholder="jj/mm/aaaa" required="required" />
                </div>
                <div class="large-6 columns">
                    <label>Heure de début</label>
                    <input type="time" name="endhour" placeholder="hh:mm" required="required" />
                </div>
                <div class="large-12 columns">
                    <label>Lieu</label>
                    <input type="text" name="location" placeholder="Adresse, ville, pays" required="required" />
                </div>
                <div class="large-12 columns">
                    <label>Description</label>
                    <textarea name="description" placeholder="description de l'évènement"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input class="button right" type="submit" value="Créer l'évènement">
                </div>
            </div>
        </form>
}