@()
<!DOCTYPE html>

@import helper._

<!--
  ~ This file is part of OneCalendar.
  ~
  ~ OneCalendar is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ OneCalendar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with OneCalendar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html lang="fr">
<head>
    <title>One Calendar! ajout d'évènements</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/about.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/addEvent.css")'>
    <script src='@routes.Assets.at("javascripts/lib/jquery.js")' type="text/javascript"></script>
</head>

<body>
<header>
    <a href="/">
        <img width="160px" src="/assets/images/OneCalendar.png" alt="OneCalendar!" title="OneCalendar!">
    </a>
    <h1>Ajouter des évènements dans</h1>
</header>
<div class="clear"></div>

<section>
    <form method="POST" action="/addSingleEvent">
        <fieldset>
            <legend>Ajouter un évènement dans la base OneCalendar!</legend>
            <input type="text" name="title" placeholder="titre de l'évènement" /><input type="text" name="tags" placeholder="tags decrivant votre évènement (séparés de virgules)" /><br/>
            <input type="datetime-local" name="begin" placeholder="date de début de l'évènement" /><input type="date" name="end" placeholder="date de fin de l'évènement" /><br/>
            <input type="text" name="location" placeholder="lieu de l'évènement" /><br/>
            <textarea name="description" placeholder="description de l'évènement"></textarea><br/>

            <input type="submit" value="créer l'évènement" />
        </fieldset>
    </form>

</section>

</body>

</html>