<link rel="stylesheet" href="@routes.Assets.at("stylesheets/wtfioc.css")" />
<div class="js-wtfioc">
    <div class="row">
        <div class="columns large-8">
            <p>I have'nt seen you to the last meeting, you really missed something</p>
        </div>
        <div class="columns large-4">
            <img src="@routes.Assets.at("images/Brainstorm.png")" alt=""/>
        </div>
    </div><!--
    <div class="row">
        <div class="columns large-8">
            <p>So bad you missed amazing concert yesterday</p>
        </div>
        <div class="columns large-4">
            <img src="@routes.Assets.at("images/Concert.png")" alt="" class="wtfioc"/>
        </div>
    </div>-->
    <div class="row">
        <div class="columns large-4">
            <img src="@routes.Assets.at("images/Meeting.png")" alt=""/>
        </div>
        <div class="columns large-8">
            <p>Yesterday, I was to an incredible conference, very inspiring</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-8">
            <p>It will be great if something will extract events of internet</p>
        </div>
        <div class="columns large-4">
            <img src="@routes.Assets.at("images/Meetup.png")" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="columns large-4">
            <img src="@routes.Assets.at("images/OneCalendarPhone.png")" alt=""/>
        </div>
        <div class="columns large-8">
            <p>OneCalendar To meet them all ! will bring you what you're interesting in, by a stream of events frequently updated directly in your terminal</p>
            <input type="checkbox" id="js-hide-wtfioc"><label for="js-hide-wtfioc">Hide next time</label>
            <a class="button js-use">Just use</a>
        </div>
    </div>
</div>