<link rel="stylesheet" href="@routes.Assets.at("stylesheets/wtfioc.css")" />
<section class="js-wtfioc">
    <div class="row">
        <div class="columns large-centered large-8">
            <div class="row">
                <div class="columns large-5">
                    <img src="@routes.Assets.at("images/Brainstorm.png")" alt=""/>
                </div>
                <div class="columns large-7">
                    <p>Too bad you missed an amazing event</p>
                </div>
            </div><div class="row">
                <div class="columns large-7">
                    <p>Too bad you missed an amazing event</p>
                </div>
                <div class="columns large-5">
                    <img src="@routes.Assets.at("images/Concert.png")" alt=""/>
                </div>
            </div><div class="row">
                <div class="columns large-5">
                    <img src="@routes.Assets.at("images/Meeting.png")" alt=""/>
                </div>
                <div class="columns large-7">
                    <p>Too bad you missed an amazing event</p>
                </div>
            </div> <div class="row">
                <div class="columns large-7">
                    <p>So much event sources !</p>
                </div>
                <div class="columns large-5">
                    <img src="@routes.Assets.at("images/Meetup.png")" alt=""/>
                </div>
            </div> <div class="row">
                <div class="columns large-5">
                    <img src="@routes.Assets.at("images/OneCalendarPhone.png")" alt=""/>
                </div>
                <div class="columns large-7">
                    <p>One place to search, One Calendar to meet them all !</p>
                    <input type="checkbox" id="js-hide-wtfioc"><label for="js-hide-wtfioc">Hide next time</label>
                    <a class="tiny button js-use">Just use</a>
                </div>
            </div>
        </div>
    </div>



</section>