@(events: List[Event])

@layout("Home") {
        <div class="row">
            <div class="small-centered large-5 columns">
                <img id="logo" src='@routes.Assets.at("images/onecalendar-beta.png")' />
            </div>
        </div>
        @branding()
        <div class="js-main">
        <div class="row">
            <form method="get" action="/events" id="events">
                <div class="large-offset-3 large-6 small-9 columns">
	                <select id="suggest" class="suggest-search" tabindex="3" multiple data-placeholder="Saisissez vos mots clefs pour obtenir votre agenda">
	                </select>
                </div>
                <div class="large-2 columns small-3 left">
                    <input class="small button expand" type="submit" value="Search"/>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <hr />
                <h3>Upcoming...</h3>
                <ul class="large-block-grid-2" id="previewEvents"></ul>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" id="resultSize"></div>
        </div>
        <div class="row">
            <div class="large-12 columns" id="callbackNoResult"></div>
        </div>
        </div>
}