@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    </head>
    <body>
		<body style="font-family: sans-serif">
				<div style="
			    font-size: larger;
			    margin-top: 40px;
			    margin-left: 25px;
		"><span style="
		    display: block;
		">One calendar</span>
				<span style="
		    font-size: smaller;
		">to meet them all</span></div>
				<div style="
		    margin: auto;
			width: 500px;
			margin-top: 100px;
		">
		        <label for="search" style="display: block;padding-left: 20px;">Select your tags</label>
				<input type="text" id-"search" style="width: 400px; font-size: larger">
				<div style="margin-left: 50px; margin-top: 30px; font-size: smaller">
					<div>Number of events in next week : 666</div>
					<div><a href="webcal://onecalendar.heroku.com/bIUYVT6F879UN9UY879BU">Link</a> to your calendar feed, your personal selection of events</div>
					<div><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fonecalendar.heroku.com%2FbIUYVT6F879UN9UY879BU" target="_blank">Add it to your Google Calendar</a></div>
				</div>
				<div style="margin-top: 30px; margin-bottom: 40px">
								<div style="width: 111px;margin-right: 20px; margin-left: auto; ">Cloud of Tags</div>
								<div style="width: 400px; font-size: smaller">Agile, Java, Craftmanship, Opensource, Tricot, Macramé
								</div>
								</div>
				</div>
				<p>
					A small text to explain what to do
				</p>


		</body>
    </body>
</html>
